{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
    <!-- Flash messages for errors or success -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div>
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h3 align="center">
        Login
    </h3>
    <div class="form-group">
        <label for="email">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required/>
        <br/>
        <div align="center"></div>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
{% endblock %}