{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <style>
        body {
            text-align: center;
            margin: 0;
            padding: 0;
                }

        .map-container {
            position: relative;
            width: 100%; /* Ensures full width */
            max-width: 1200px; /* Set a max width for better control */
            margin: 0 auto; /* Centers the map */
        }

        .map-image {
            width: 100%; /* Makes it responsive */
            height: auto; /* Keeps aspect ratio */
            display: block;
        }
        /* Style for buttons */
        .map-button {
            position: absolute;
            background-color: transparent;
            color: transparent;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transform: translate(-50%, -50%);
        }

        /* Car Park button 1 */
        /* Car Park button 1 */
        #btn1 {
            top: 33%;
            left: 26%;
            border-radius: 0px;
            padding: 34px 21px;  
            font-size: 5px;
        }

        /* Car Park button 2 */
        #btn2 {
            top: 34.5%;
            left: 18.1%;
            border-radius: 0px;
            padding: 23.5px 6px;  
            font-size: 3px;
        }

        /* innovation walk 7 */
        #btn3 {
            top: 42.2%;
            left: 18.4%;
            border-radius: 0px;
            padding: 14px 6px;  
            font-size: 3px;
        }

        /* Button 4 (P W2 innov) */
        #btn4 {
            top: 48.1%;
            left: 18.1%;
            border-radius: 0px;
            padding: 10.5px 9px;  
            font-size: 2px;
        }

        /* Button 5 (RainFor 9) */
        #btn5 {
            top: 42.2%;
            left: 26%;
            border-radius: 0px;
            padding: 10px 30.5px;  
            font-size: 2px;
        }

        /*  Earth Science Garden */
        #btn6 {
            top: 45%;
            left: 24.3%;
            border-radius: 10px;
            padding: 3.5px 15.4px;  
            font-size: 2px;
        }
        
        /* Rain For 11 */
        #btn7 {
            top: 45%;
            left: 28.2%;
            border-radius: 0px;
            padding: 5.3px 5.2px;  
            font-size: 1px;
        }
        
        /* Green Chemical Future */
        #btn8 {
            top: 48.2%;
            left: 27.5%;
            border-radius: 0px;
            padding: 14.7px 14px;  
            font-size: 2px;
        }
        
        /* Green Chemical Future 2*/
        #btn9 {
            top: 48.2%;
            left: 24.4%;
            border-radius: 0px;
            padding: 10.4px 1.3px;  
            font-size: 0.2px;
        }
        
        /* Innov walk 10 */
        #btn10 {
            top: 47.7%;
            left: 22.5%;
            border-radius: 0px;
            padding: 10.4px 10px;  
            font-size: 0.2px;
        }

        /* New Horizons */
        #btn11 {
            top: 30%;
            left: 34.45%;
            border-radius: 0px;
            padding: 18px 13px;   
            font-size: 3px;       
        }

        /* New Horizons */
        #btn12 {
            top: 35.3%;
            left: 33.5%;
            border-radius: 0px;
            padding: 20px 5px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }
        /* Hargrave-Andrew Library */
        #btn13 {
            top: 45.08%;
            left: 32.8%;
            border-radius: 0px;
            padding: 32px 5px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Hargrave-Andrew Library */
        #btn14 {
            top: 46.58%;
            left: 34.8%;
            rotate: -8deg;
            border-radius: 0px;
            padding: 6px 5px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Alliance Lane 16 */
        #btn15 {
            top: 43.88%;
            left: 37%;
            rotate: -8deg;
            border-radius: 0px;
            padding: 5px 16px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Alliance Lane 18 */
        #btn16 {
            top: 43.3%;
            left: 41.2%;
            rotate: -8deg;
            border-radius: 0px;
            padding: 5px 11px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Alliance Lane 22 */
        #btn17 {
            top: 42.3%;
            left: 45.2%;
            rotate: -8deg;
            border-radius: 0px;
            padding: 5px 11px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }

        /* Alliance Lane 15 */
        #btn18 {
            top: 40.8%;
            left: 35.9%;
            rotate: -8deg;
            border-radius: 0px;
            padding: 5px 7px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* College Walk 17 */
        #btn19 {
            top: 48.3%;
            left: 37.3%;
            rotate: -8deg;
            border-radius: 0px;
            padding: 5px 17px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Kenneth Hunt Garden*/
        #btn20 {
            top: 46.58%;
            left: 37.19%;
            rotate: 1deg;
            border-radius: 0px;
            padding: 8px 6px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }

        #btn21 {
            top: 86%;
            left: 66%;
            border-radius: 0px;
            padding: 39px 8px;   /* Smaller size for Library button */
            font-size: 8px;       /* Smaller text size */
        }

        #btn22 {
            top: 88%;
            left: 59%;
            border-radius: 0px;
            padding: 24px 6px;   /* Smaller size for Library button */
            font-size: 7px;       /* Smaller text size */
        }
        
        #btn23 {
            top: 80%;
            left: 59%;
            border-radius: 0px;
            padding: 23px 6px;   /* Smaller size for Library button */
            font-size: 7px;       /* Smaller text size */
        }

        #btn24 {
            top: 88%;
            left: 52%;
            border-radius: 0px;
            padding: 16px 3px;   /* Smaller size for Library button */
            font-size: 6px;       /* Smaller text size */
        }

        #btn25 {
            top: 88%;
            left: 45.5%;
            border-radius: 0px;
            padding: 16px 3px;   /* Smaller size for Library button */
            font-size: 6px;       /* Smaller text size */
        }

        #btn26 {
            top: 76%;
            left: 45.5%;
            border-radius: 32px;
            padding: 15px 2px;   /* Smaller size for Library button */
            font-size: 1.8px;       /* Smaller text size */
        }

        #btn27 {
            top: 80%;
            left: 44.5%;
            rotate: 8deg;
            border-radius: 0px;
            padding: 19px 7px;   /* Smaller size for Library button */
            font-size: 10px;       /* Smaller text size */
        }

        #btn28 {
            top: 82%;
            left: 40%;
            border-radius: 0px;
            padding: 28px 10px;   /* Smaller size for Library button */
            font-size: 8px;       /* Smaller text size */
        }

        #btn29 {
            top: 82%;
            left: 49%;
            rotate: 5deg;
            border-radius: 0px;
            padding: 3px 16px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }

        #btn30 {
            top: 72%;
            left: 49%;
            rotate: 5deg;
            border-radius: 0px;
            padding: 15px 2px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        /* College Walk 19 */
        #btn31 {
            top: 45.8%;
            left: 39.30%;
            rotate: -11deg;
            border-radius: 0px;
            padding: 7px 1px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }
        /* College Walk 21 */
        #btn32 {
            top: 45.9%;
            left: 40.80%;
            rotate: -11deg;
            border-radius: 0px;
            padding: 8px 3px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }
        /* College Walk 23 */
        #btn33 {
            top: 45.8%;
            left: 42%;
            rotate: -9deg;
            border-radius: 0px;
            padding: 8px 2px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }
        /* College Walk 23 */
        #btn34 {
            top: 44.8%;
            left: 46%;
            rotate: -11deg;
            border-radius: 0px;
            padding: 9px 7px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* College Walk 23 */
        #btn35 {
            top: 47.3%;
            left: 43%;
            rotate: -10deg;
            border-radius: 0px;
            padding: 3px 15px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Allicance Lane 17 */
        #btn36 {
            top: 37.5%;
            left: 40%;
            rotate: -10deg;
            border-radius: 0px;
            padding: 21.6px 19px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Allicance Lane 17 */
        #btn37 {
            top: 35.9%;
            left: 43.2%;
            border-radius: 0px;
            rotate: -9deg;
            padding: 8px 20px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Allicance Lane 17 */
        #btn38 {
            top: 39.6%;
            left: 43.2%;
            rotate: -9deg;
            border-radius: 0px;
            padding: 5px 6px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Allicance Lane 21 */
        #btn39 {
            top: 39.3%;
            left: 45.2%;
            rotate: -9deg;
            border-radius: 0px;
            padding: 5px 5px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Woodside Building */
        #btn40 {
            top: 40.8%;
            left: 50.2%;
            border-radius: 0px;
            padding: 29px 8px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Central Twelve C12 */
        #btn41 {
            top: 40.8%;
            left: 55.5%;
            border-radius: 0px;
            padding: 24px 12px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Science Boulevard 13 */
        #btn42 {
            top: 35.3%;
            left: 54.4%;
            border-radius: 0px;
            padding: 5px 20px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Science Boulevard 13 */
        #btn43 {
            top: 33%;
            left: 54.0%;
            border-radius: 0px;
            padding: 2px 10px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Research Way 26*/
        #btn44 {
            top: 31.8%;
            left: 41.6%;
            border-radius: 0px;
            padding: 6px 18px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Research Way 26*/
        #btn45 {
            top: 31.1%;
            left: 44.4%;
            border-radius: 0px;
            padding: 11px 3px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Research Way 30*/
        #btn46 {
            top: 31.2%;
            left: 47%;
            border-radius: 0px;
            padding: 9px 9px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Science Boulevard 13 */
        #btn47 {
            top: 31.2%;
            left: 50.5%;
            border-radius: 0px;
            padding: 7px 3px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }


        /* Science Boulevard 13 */
        #btn48 {
            top: 30.6%;
            left: 52.5%;
            border-radius: 0px;
            padding: 5px 5px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }
        /* Science Boulevard 13 */
        #btn49 {
            top: 30.6%;
            left: 54.5%;
            border-radius: 0px;
            padding: 5px 2px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }
        /* Science Boulevard 13 */
        #btn50 {
            top: 30.5%;
            left: 55.6%;
            border-radius: 0px;
            rotate: -45deg;
            padding: 3px 3px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        #btn51 {
            top: 75%;
            left: 48.5%;
            rotate: 5deg;
            border-radius: 0px;
            padding: 5px 7px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        #btn52 {
            top: 78%;
            left: 50%;
            rotate: 5deg;
            border-radius: 0px;
            padding: 10px 4px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        #btn53 {
            top: 69%;
            left: 53.5%;
            border-radius: 0px;
            rotate: 5deg;
            padding: 10px 3px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        #btn54 {
            top: 65%;
            left: 49.5%;
            border-radius: 0px;
            rotate: 5deg;
            padding: 13px 9px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        #btn55 {
            top: 62.5%;
            left: 46.5%;
            border-radius: 30px;
            padding: 10px 8px;   /* Smaller size for Library button */
            font-size: 4px;       /* Smaller text size */
        }

        #btn56 {
            top: 59%;
            left: 48%;
            border-radius: 0px;
            padding: 8px 3px;   /* Smaller size for Library button */
            font-size: 4px;       /* Smaller text size */
        }
        
        #btn57 {
            top: 61.5%;
            left: 49.5%;
            border-radius: 0px;
            padding: 4px 4px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }

        #btn58 {
            top: 60.5%;
            left: 51.5%;
            border-radius: 0px;
            rotate: 3deg;
            padding: 9.5px 4px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }

        #btn59 {
            top: 59%;
            left: 51%;
            border-radius: 0px;
            padding: 5px 8px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }

        #btn60 {
            top: 59%;
            left: 55%;
            border-radius: 0px;
            padding: 5px 8px;   /* Smaller size for Library button */
            font-size: 4px;       /* Smaller text size */
        }

        #btn61 {
            top: 54%;
            left: 50%;
            border-radius: 0px;
            padding: 5px 8px;   /* Smaller size for Library button */
            font-size: 4px;       /* Smaller text size */
        }

        #btn62 {
            top: 54%;
            left: 55%;
            border-radius: 0px;
            padding: 5px 8px;   /* Smaller size for Library button */
            font-size: 4px;       /* Smaller text size */
        }

        #btn63 {
            top: 50%;
            left: 53%;
            border-radius: 0px;
            padding: 5px 8px;   /* Smaller size for Library button */
            font-size: 4px;       /* Smaller text size */
        }
        
        #btn64 {
            top: 75%;
            left: 52%;
            border-radius: 0px;
            padding: 10px 5px;   /* Smaller size for Library button */
            font-size: 4px;       /* Smaller text size */
        }

        #btn65 {
            top: 73.5%;
            left: 35.5%;
            border-radius: 0px;
            padding: 10px 5px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }

        #btn66 {
            top: 70%;
            left: 39%;
            border-radius: 0px;
            padding: 8px 15px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }

        #btn67 {
            top: 63%;
            left: 39%;
            border-radius: 0px;
            padding: 15px 15px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }

        #btn68 {
            top: 58%;
            left: 42.2%;
            border-radius: 0px;
            padding: 3px 10px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        #btn69 {
            top: 59%;
            left: 34%;
            border-radius: 0px;
            padding: 5px 8px;   /* Smaller size for Library button */
            font-size: 5px;       /* Smaller text size */
        }

        #btn70 {
            top: 54%;
            left: 41%;
            border-radius: 0px;
            padding: 8px 7px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        /* College walk 10 */
        #btn71 {
            top: 51.95%;
            left: 26.6%;
            border-radius: 0px;
            padding: 3.4px 25px;  
            font-size: 0.2px;
        }
        
        /* innov walk 12 */
        #btn72 {
            top: 53.8%;
            left: 23.07%;
            border-radius: 0px;
            padding: 8.23px 10.3px;  
            font-size: 0.2px;
        }

        /* innov walk 15 */
        #btn73 {
            top: 55.9%;
            left: 17.99%;
            border-radius: 0px;
            padding: 32px 11.2px;  
            font-size: 0.2px;
        }
        
        /* Rain For 15 */
        #btn74 {
            top: 53.7%;
            left: 26.85%;
            border-radius: 0px;
            padding: 8px 8.6px;  
            font-size: 0.2px;
        }

        /* Rain For 17 */
        #btn75 {
            top: 57%;
            left: 26.5%;
            border-radius: 0px;
            padding: 12.5px 23.8px;  
            font-size: 0.2px;
        }
        
        /* Rain For 23 */
        #btn76 {
            top: 59.45%;
            left: 25.5%;
            border-radius: 0px;
            padding: 3.6px 6px;  
            font-size: 0.2px;
        }

        /* Rain For 21 */
        #btn77 {
            top: 59.45%;
            left: 27.8%;
            border-radius: 0px;
            padding: 3.6px 7px;    
            font-size: 0.2px;
        }
        
        /* Inov walk 19 */
        #btn78 {
            top: 62.3%;
            left: 19.2%;
            border-radius: 0px;
            rotate: -6.4deg;
            padding: 8px 19px;  
            font-size: 0.2px;
        }

        /* Inov walk 19 2.0 */
        #btn79 {
            top: 64.7%;
            left: 18.6%;
            border-radius: 0px;
            rotate: 85deg;
            padding: 6px 13px;  
            font-size: 0.2px;
        }
        
        /* Inov walk 23 */
        #btn80 {
            top: 66.4%;
            left: 19.1%;
            border-radius: 0px;
            padding: 8px 20px;  
            font-size: 0.2px;
        }

        /* Inov  18 */
        #btn81 {
            top: 62.4%;
            left: 23.6%;
            border-radius: 0px;
            padding: 21px 5.9px;  
            font-size: 0.2px;
        }

        /* Rain For 25 */
        #btn82 {
            top: 61.5%;
            left: 26.5%;
            border-radius: 0px;
            padding: 5px 24px;  
            font-size: 0.2px;
        }
        
        /* Rain For 19 */
        #btn83 {
            top: 57.3%;
            left: 30.1%;
            border-radius: 0px;
            padding: 41.9px 3.9px;  
            font-size: 0.2px;
        }

        /* Chanc Walk 11 */
        #btn84 {
            top: 64.25%;
            left: 28.5%;
            border-radius: 0px;
            padding: 9px 7.6px;  
            font-size: 0.2px;
        }

        /* Rain For 27 */
        #btn85 {
            top: 64.5%;
            left: 31.05%;
            border-radius: 0px;
            padding: 8.5px 7.6px;  
            font-size: 0.2px;
        }

        /* Car park 5 */
        #btn86 {
            top: 70.5%;
            left: 17.89%;
            border-radius: 0px;
            padding: 14.9px 12.4px;  
            font-size: 0.2px;
        }

        /* Anc imp way 7 */
        #btn87 {
            top: 74.5%;
            left: 22.4%;
            border-radius: 0px;
            padding: 9px 21px;  
            font-size: 0.2px;
        }

        /* Inov walk 26 */
        #btn88 {
            top: 70.1%;
            left: 23.9%;
            border-radius: 0px;
            padding: 11.2px 9px;  
            font-size: 0.2px;
        }

        /* Chanc walk 10 */
        #btn89 {
            top: 68.1%;
            left: 27.1%;
            border-radius: 0px;
            padding: 7.4px 31.8px;  
            font-size: 0.2px;
        }

        /* Rain For 35 */
        #btn90 {
            top: 69.9%;
            left: 29.9%;
            border-radius: 0px;
            padding: 5px 14px;  
            font-size: 0.2px;
        }

        /* Rain For 37 */
        #btn91 {
            top: 70.65%;
            left: 27.3%;
            border-radius: 0px;
            padding: 10.2px 8px;  
            font-size: 0.2px;
        }

        /* Rain For 39 */
        #btn92 {
            top: 72%;
            left: 30.2%;
            border-radius: 0px;
            padding: 9px 5px;  
            font-size: 0.2px;
        }

        /* Anc Imp Way 9*/
        #btn93 {
            top: 72.7%;
            left: 28%;
            border-radius: 0px;
            padding: 4px 13px;  
            font-size: 0.2px;
        }

        /* Rain For 43*/
        #btn94 {
            top: 74.1%;
            left: 29.5%;
            border-radius: 0px;
            padding: 4.1px 18px;  
            font-size: 0.2px;
        }

        /* Rain For 43 2.0*/
        #btn95 {
            top: 75.03%;
            left: 30.3%;
            rotate: 42deg;
            border-radius: 0px;
            padding: 5.8px 5.4px;  
            font-size: 0.2px;
        }

        /* Rain For 49 */
        #btn96 {
            top: 88.9%;
            left: 29.2%;
            border-radius: 0px;
            padding: 13.3px 28px;  
            font-size: 0.2px;
        }

        #btn101 {
            top: 52%;
            left: 36%;
            border-radius: 0px;
            padding: 3px 26px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }

        #btn102 {
            top: 54.3%;
            left: 36%;
            border-radius: 0px;
            padding: 8px 15px;   /* Smaller size for Library button */
            font-size: 3px;       /* Smaller text size */
        }

        #btn103 {
            top: 54%;
            left: 44.5%;
            border-radius: 0px;
            padding: 10px 5px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }

        #btn104 {
            top: 52%;
            left: 44.5%;
            border-radius: 0px;
            padding: 7px 5px;   /* Smaller size for Library button */
            font-size: 2px;       /* Smaller text size */
        }

    </style>
</head>
<body>

    <div class="map-container">
        <img src="{{ url_for('static', filename='images/map.png') }}" alt="Campus Map" class="map-image">

        <!-- Buttons placed at specific positions -->
        <button id="btn1" class="map-button" onclick="alert('You clicked on the Inov Car Park')">Inov Car Park</button>
        <button id="btn2" class="map-button" onclick="alert('You clicked on Inov Car Park 2')">Inov Car Park 2</button>
        <button id="btn3" class="map-button" onclick="alert('You clicked on the Inov Walk 7')">Inov Walk 7</button>
        <button id="btn4" class="map-button" onclick="alert('You clicked on the Parking W2 innov')">Parking W2 innov</button>
        <button id="btn5" class="map-button" onclick="alert('You clicked on the Rain For 9')">Rain For 9</button>
        <button id="btn6" class="map-button" onclick="alert('You clicked on the Earth Science Garden')">Earth Science Garden</button>
        <button id="btn7" class="map-button" onclick="alert('You clicked on the Rain For 11')">Rain For 11</button>
        <button id="btn8" class="map-button" onclick="alert('You clicked on the Green Chemical Future')">Green Chemical Future</button>
        <button id="btn9" class="map-button" onclick="alert('You clicked on the Green Chemical Future 2')">Green Chemical Future 2</button>
        <button id="btn10" class="map-button" onclick="alert('You clicked on the Innov Walk 10')">Innov Walk 10</button>
        <button id="btn11" class="map-button" onclick="alert('You clicked on the New Horizons')">New Horizons</button>
        <button id="btn12" class="map-button" onclick="alert('You clicked on the New Horizons')">New Horizons</button>
        <button id="btn13" class="map-button" onclick="alert('You clicked on the HAL')">HAL</button>
        <button id="btn14" class="map-button" onclick="alert('You clicked on the HAL')">HAL</button>
        <button id="btn15" class="map-button" onclick="alert('You clicked on the AL16')">AL16</button>
        <button id="btn16" class="map-button" onclick="alert('You clicked on the AL18')">AL18</button>
        <button id="btn17" class="map-button" onclick="alert('You clicked on the AL22')">AL22</button>
        <button id="btn18" class="map-button" onclick="alert('You clicked on the AL15')">AL15</button>
        <button id="btn19" class="map-button" onclick="alert('You clicked on the CW17')">CW17</button>
        <button id="btn20" class="map-button" onclick="alert('You clicked on the KHG')">KHG</button>
        <button id="btn21" class="map-button" onclick="alert('You clicked on the SE5 Car Park')">SE5 Car Park</button>
        <button id="btn22" class="map-button" onclick="alert('You clicked on the SE4 Car Park')">SE4 Car Park</button>
        <button id="btn23" class="map-button" onclick="alert('You clicked on the SE1 Car Park')">SE1 Car Park</button>
        <button id="btn24" class="map-button" onclick="alert('You clicked on the S1 Car Park')">S1 Car Park</button>
        <button id="btn25" class="map-button" onclick="alert('You clicked on the S2 Car Park')">S2 Car Park</button>
        <button id="btn26" class="map-button" onclick="alert('You clicked on the The Ian Potter Centre for Performing Arts')">The Ian Potter Centre for Performing Arts </button>
        <button id="btn27" class="map-button" onclick="alert('You clicked on the The Ian Potter Centre for Performing Arts')"></button>
        <button id="btn28" class="map-button" onclick="alert('You clicked on the Learning & Teaching Building')">LTB</button>
        <button id="btn29" class="map-button" onclick="alert('You clicked on the Education Building')">Education</button>
        <button id="btn30" class="map-button" onclick="alert('You clicked on the Sir Louis Matheson Library')">Matheson Library</button>
        <button id="btn31" class="map-button" onclick="alert('You clicked on the CW19')">CW19</button>
        <button id="btn32" class="map-button" onclick="alert('You clicked on the CW21')">CW21</button>
        <button id="btn33" class="map-button" onclick="alert('You clicked on the CW22')">CW22</button>
        <button id="btn34" class="map-button" onclick="alert('You clicked on the CW22')">CW22</button>
        <button id="btn35" class="map-button" onclick="alert('You clicked on the CW22')">CW22</button>
        <button id="btn36" class="map-button" onclick="alert('You clicked on the AL17')">AL17</button>
        <button id="btn37" class="map-button" onclick="alert('You clicked on the AL17')">AL17</button>
        <button id="btn38" class="map-button" onclick="alert('You clicked on the AL17')">AL17</button>
        <button id="btn39" class="map-button" onclick="alert('You clicked on the AL21')">AL21</button>
        <button id="btn40" class="map-button" onclick="alert('You clicked on the WB')">WB</button>
        <button id="btn41" class="map-button" onclick="alert('You clicked on the CTC12')">CTC12</button>
        <button id="btn42" class="map-button" onclick="alert('You clicked on the SB13')">SB13</button>
        <button id="btn43" class="map-button" onclick="alert('You clicked on the SB13')">SB13</button>
        <button id="btn44" class="map-button" onclick="alert('You clicked on the RW26')">RW26</button>
        <button id="btn45" class="map-button" onclick="alert('You clicked on the RW26')">RW26</button>
        <button id="btn46" class="map-button" onclick="alert('You clicked on the RW30')">RW30</button>
        <button id="btn47" class="map-button" onclick="alert('You clicked on the SB13')">SB13</button>
        <button id="btn48" class="map-button" onclick="alert('You clicked on the SB13')">SB13</button>
        <button id="btn49" class="map-button" onclick="alert('You clicked on the SB13')">SB13</button>
        <button id="btn50" class="map-button" onclick="alert('You clicked on the SB13')">SB13</button>
        <button id="btn51" class="map-button" onclick="alert('You clicked on the 44')">44</button>
        <button id="btn52" class="map-button" onclick="alert('You clicked on the 57')">57</button>
        <button id="btn53" class="map-button" onclick="alert('You clicked on the Robert Blackwood Hall')">Robert Blackwood Hall</button>
        <button id="btn54" class="map-button" onclick="alert('You clicked on the Chancellery')">Chancellery</button>
        <button id="btn55" class="map-button" onclick="alert('You clicked on the Religious Centre')">9</button>
        <button id="btn56" class="map-button" onclick="alert('You clicked on the Monash Club')">Monash Club</button>
        <button id="btn57" class="map-button" onclick="alert('You clicked on the Admistration A')">Admistration A</button>
        <button id="btn58" class="map-button" onclick="alert('You clicked on the Admistration B')">26</button>
        <button id="btn59" class="map-button" onclick="alert('You clicked on the Admistration C')">24</button>
        <button id="btn60" class="map-button" onclick="alert('You clicked on the Logan Hall')">Logan Hall</button>
        <button id="btn61" class="map-button" onclick="alert('You clicked on the Campbell Hall')">Campbell Hall</button>
        <button id="btn62" class="map-button" onclick="alert('You clicked on the Holman Hall')">Holman Hall</button>
        <button id="btn63" class="map-button" onclick="alert('You clicked on the Campus Park')">Campus Park</button>
        <button id="btn64" class="map-button" onclick="alert('You clicked on the Performing Arts')">Performing Arts</button>
        <button id="btn65" class="map-button" onclick="alert('You clicked on the Law Library')">Law library</button>
        <button id="btn66" class="map-button" onclick="alert('You clicked on the Menzies Building')">Menzies building</button>
        <button id="btn67" class="map-button" onclick="alert('You clicked on the Campus Centre')">Campus centre</button>
        <button id="btn68" class="map-button" onclick="alert('You clicked on the Northern Plaza')">Northern plaza</button>
        <button id="btn69" class="map-button" onclick="alert('You clicked on the Building 22')">22</button>
        <button id="btn70" class="map-button" onclick="alert('You clicked on the Lemon Scented Lawn')">Lemon scented lawn</button>
        <button id="btn71" class="map-button" onclick="alert('You clicked on the College Walk 10')">College Walk 10</button>
        <button id="btn72" class="map-button" onclick="alert('You clicked on Innov Walk 12')">Innov Walk 12</button>
        <button id="btn73" class="map-button" onclick="alert('You clicked on the Innov Walk 15')">Innov Walk 15</button>
        <button id="btn74" class="map-button" onclick="alert('You clicked on the Rain For 15')">Rain For 15</button>
        <button id="btn75" class="map-button" onclick="alert('You clicked on the Rain For 17')">Rain For 17 </button>
        <button id="btn76" class="map-button" onclick="alert('You clicked on the Rain For 17')">Rain For 23</button>
        <button id="btn77" class="map-button" onclick="alert('You clicked on the Rain For 21')">Rain For 21</button>
        <button id="btn78" class="map-button" onclick="alert('You clicked on the Inov walk 19')">Inov walk 19</button>
        <button id="btn79" class="map-button" onclick="alert('You clicked on the Inov walk 19 2.0')">Inov walk 19 2.0</button>
        <button id="btn80" class="map-button" onclick="alert('You clicked on the Inov walk 23')">Inov walk 23</button>
        <button id="btn81" class="map-button" onclick="alert('You clicked on the Inov walk 18')">Inov walk 18</button>
        <button id="btn82" class="map-button" onclick="alert('You clicked on the Inov walk 25')">Inov walk 25</button>
        <button id="btn83" class="map-button" onclick="alert('You clicked on the Rain For 19')">Rain For 19</button>
        <button id="btn84" class="map-button" onclick="alert('You clicked on the Chanc Walk 11')">Chanc Walk 11</button>
        <button id="btn85" class="map-button" onclick="alert('You clicked on the Rain For 27')">Rain For 27</button>
        <button id="btn86" class="map-button" onclick="alert('You clicked on the Car park 5')">Car park 5</button>
        <button id="btn87" class="map-button" onclick="alert('You clicked on the Anc Imp Way 7')">Anc Imp Way 7</button>
        <button id="btn88" class="map-button" onclick="alert('You clicked on the Inov Walk 26')">Inov Walk 26</button>
        <button id="btn89" class="map-button" onclick="alert('You clicked on the Chanc walk 10')">Chanc walk 10</button>
        <button id="btn90" class="map-button" onclick="alert('You clicked on the Rain For 35')">Rain For 35</button>
        <button id="btn91" class="map-button" onclick="alert('You clicked on the Rain For 37')">Rain For 37</button>
        <button id="btn92" class="map-button" onclick="alert('You clicked on the Rain For 39')">Rain For 39</button>
        <button id="btn93" class="map-button" onclick="alert('You clicked on the Anc Imp Way 9')">Anc Imp Way 9</button>
        <button id="btn94" class="map-button" onclick="alert('You clicked on the Rain For 43')">Rain For 43</button>
        <button id="btn95" class="map-button" onclick="alert('You clicked on the Rain For 43 2.0')">Rain For 43 2.0</button>
        <button id="btn96" class="map-button" onclick="alert('You clicked on the Rain For 49')">Rain For 49</button>
        <button id="btn101" class="map-button" onclick="alert('You clicked on the Science and Information Technology')">14</button>
        <button id="btn102" class="map-button" onclick="alert('You clicked on the Science S1-S4, S9-S12, ST1-ST4, ST7 ')">16</button>
        <button id="btn103" class="map-button" onclick="alert('You clicked on the Central One')">Central One</button>
        <button id="btn104" class="map-button" onclick="alert('You clicked on the Central One')"></button>


    </div>

</body>
</html>
{% endblock %}